<form method="post" enctype="multipart/form-data">
    <input type="text" name="nombre" placeholder="Nombre" class="form-control" />
    <input type="text" name="descripcion" placeholder="Descripcion" class="form-control" />
    <br />
    <input type="checkbox" name="esTiempo" placeholder="Tiempo"/>
    <br />
    <input type="file" name="fichero" class="form-control">
    <select class="form-control">Tags</select>
    <button class="btn">Enviar</button>
</form>